[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/slavikshen/hexo-theme-apollo.git
[submodule "themes/phantom"]
	path = themes/phantom
	url = https://github.com/slavikshen/hexo-theme-phantom.git
